UserInformation_Project/UserInformation_Project.UIP/Service References/WS/WS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="KidRetrieve">
        <s:complexType />
      </s:element>
      <s:element name="KidRetrieveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="KidRetrieveResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KidRetrieveInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="kid_key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KidRetrieveInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="KidRetrieveInfoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KidDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="kid_key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KidDeleteResponse">
        <s:complexType />
      </s:element>
      <s:element name="KidInsert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KidInsertResponse">
        <s:complexType />
      </s:element>
      <s:element name="TeachRetrieve">
        <s:complexType />
      </s:element>
      <s:element name="TeachRetrieveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TeachRetrieveResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TeachRetrieveInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="teach_key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TeachRetrieveInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TeachRetrieveInfoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TeachDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="teach_key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TeachDeleteResponse">
        <s:complexType />
      </s:element>
      <s:element name="TeachInsert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TeachInsertResponse">
        <s:complexType />
      </s:element>
      <s:element name="ClassRetrieve">
        <s:complexType />
      </s:element>
      <s:element name="ClassRetrieveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClassRetrieveResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClassDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cls_key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClassDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClassDeleteResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClassInsert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClassInsertResponse">
        <s:complexType />
      </s:element>
      <s:element name="ClassRetrieveName">
        <s:complexType />
      </s:element>
      <s:element name="ClassRetrieveNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClassRetrieveNameResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClassKidRetrieve">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cls_key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClassKidRetrieveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClassKidRetrieveResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TeachGirdRetrieve">
        <s:complexType />
      </s:element>
      <s:element name="TeachGirdRetrieveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TeachGirdRetrieveResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AttendanceRetrieve">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dt_stat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dt_end" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AttendanceRetrieveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AttendanceRetrieveResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AttendanceInsert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="kid_key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="date" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inout" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AttendanceInsertResponse">
        <s:complexType />
      </s:element>
      <s:element name="DropscheduleRetrieve">
        <s:complexType />
      </s:element>
      <s:element name="DropscheduleRetrieveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DropscheduleRetrieveResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DropscheduleDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="drog_key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DropscheduleDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DropscheduleDeleteResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DropscheduleInsert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DropscheduleInsertResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="KidRetrieveSoapIn">
    <wsdl:part name="parameters" element="tns:KidRetrieve" />
  </wsdl:message>
  <wsdl:message name="KidRetrieveSoapOut">
    <wsdl:part name="parameters" element="tns:KidRetrieveResponse" />
  </wsdl:message>
  <wsdl:message name="KidRetrieveInfoSoapIn">
    <wsdl:part name="parameters" element="tns:KidRetrieveInfo" />
  </wsdl:message>
  <wsdl:message name="KidRetrieveInfoSoapOut">
    <wsdl:part name="parameters" element="tns:KidRetrieveInfoResponse" />
  </wsdl:message>
  <wsdl:message name="KidDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:KidDelete" />
  </wsdl:message>
  <wsdl:message name="KidDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:KidDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="KidInsertSoapIn">
    <wsdl:part name="parameters" element="tns:KidInsert" />
  </wsdl:message>
  <wsdl:message name="KidInsertSoapOut">
    <wsdl:part name="parameters" element="tns:KidInsertResponse" />
  </wsdl:message>
  <wsdl:message name="TeachRetrieveSoapIn">
    <wsdl:part name="parameters" element="tns:TeachRetrieve" />
  </wsdl:message>
  <wsdl:message name="TeachRetrieveSoapOut">
    <wsdl:part name="parameters" element="tns:TeachRetrieveResponse" />
  </wsdl:message>
  <wsdl:message name="TeachRetrieveInfoSoapIn">
    <wsdl:part name="parameters" element="tns:TeachRetrieveInfo" />
  </wsdl:message>
  <wsdl:message name="TeachRetrieveInfoSoapOut">
    <wsdl:part name="parameters" element="tns:TeachRetrieveInfoResponse" />
  </wsdl:message>
  <wsdl:message name="TeachDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:TeachDelete" />
  </wsdl:message>
  <wsdl:message name="TeachDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:TeachDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="TeachInsertSoapIn">
    <wsdl:part name="parameters" element="tns:TeachInsert" />
  </wsdl:message>
  <wsdl:message name="TeachInsertSoapOut">
    <wsdl:part name="parameters" element="tns:TeachInsertResponse" />
  </wsdl:message>
  <wsdl:message name="ClassRetrieveSoapIn">
    <wsdl:part name="parameters" element="tns:ClassRetrieve" />
  </wsdl:message>
  <wsdl:message name="ClassRetrieveSoapOut">
    <wsdl:part name="parameters" element="tns:ClassRetrieveResponse" />
  </wsdl:message>
  <wsdl:message name="ClassDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:ClassDelete" />
  </wsdl:message>
  <wsdl:message name="ClassDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:ClassDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ClassInsertSoapIn">
    <wsdl:part name="parameters" element="tns:ClassInsert" />
  </wsdl:message>
  <wsdl:message name="ClassInsertSoapOut">
    <wsdl:part name="parameters" element="tns:ClassInsertResponse" />
  </wsdl:message>
  <wsdl:message name="ClassRetrieveNameSoapIn">
    <wsdl:part name="parameters" element="tns:ClassRetrieveName" />
  </wsdl:message>
  <wsdl:message name="ClassRetrieveNameSoapOut">
    <wsdl:part name="parameters" element="tns:ClassRetrieveNameResponse" />
  </wsdl:message>
  <wsdl:message name="ClassKidRetrieveSoapIn">
    <wsdl:part name="parameters" element="tns:ClassKidRetrieve" />
  </wsdl:message>
  <wsdl:message name="ClassKidRetrieveSoapOut">
    <wsdl:part name="parameters" element="tns:ClassKidRetrieveResponse" />
  </wsdl:message>
  <wsdl:message name="TeachGirdRetrieveSoapIn">
    <wsdl:part name="parameters" element="tns:TeachGirdRetrieve" />
  </wsdl:message>
  <wsdl:message name="TeachGirdRetrieveSoapOut">
    <wsdl:part name="parameters" element="tns:TeachGirdRetrieveResponse" />
  </wsdl:message>
  <wsdl:message name="AttendanceRetrieveSoapIn">
    <wsdl:part name="parameters" element="tns:AttendanceRetrieve" />
  </wsdl:message>
  <wsdl:message name="AttendanceRetrieveSoapOut">
    <wsdl:part name="parameters" element="tns:AttendanceRetrieveResponse" />
  </wsdl:message>
  <wsdl:message name="AttendanceInsertSoapIn">
    <wsdl:part name="parameters" element="tns:AttendanceInsert" />
  </wsdl:message>
  <wsdl:message name="AttendanceInsertSoapOut">
    <wsdl:part name="parameters" element="tns:AttendanceInsertResponse" />
  </wsdl:message>
  <wsdl:message name="DropscheduleRetrieveSoapIn">
    <wsdl:part name="parameters" element="tns:DropscheduleRetrieve" />
  </wsdl:message>
  <wsdl:message name="DropscheduleRetrieveSoapOut">
    <wsdl:part name="parameters" element="tns:DropscheduleRetrieveResponse" />
  </wsdl:message>
  <wsdl:message name="DropscheduleDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:DropscheduleDelete" />
  </wsdl:message>
  <wsdl:message name="DropscheduleDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DropscheduleDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="DropscheduleInsertSoapIn">
    <wsdl:part name="parameters" element="tns:DropscheduleInsert" />
  </wsdl:message>
  <wsdl:message name="DropscheduleInsertSoapOut">
    <wsdl:part name="parameters" element="tns:DropscheduleInsertResponse" />
  </wsdl:message>
  <wsdl:portType name="WSSoap">
    <wsdl:operation name="KidRetrieve">
      <wsdl:input message="tns:KidRetrieveSoapIn" />
      <wsdl:output message="tns:KidRetrieveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="KidRetrieveInfo">
      <wsdl:input message="tns:KidRetrieveInfoSoapIn" />
      <wsdl:output message="tns:KidRetrieveInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="KidDelete">
      <wsdl:input message="tns:KidDeleteSoapIn" />
      <wsdl:output message="tns:KidDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="KidInsert">
      <wsdl:input message="tns:KidInsertSoapIn" />
      <wsdl:output message="tns:KidInsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TeachRetrieve">
      <wsdl:input message="tns:TeachRetrieveSoapIn" />
      <wsdl:output message="tns:TeachRetrieveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TeachRetrieveInfo">
      <wsdl:input message="tns:TeachRetrieveInfoSoapIn" />
      <wsdl:output message="tns:TeachRetrieveInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TeachDelete">
      <wsdl:input message="tns:TeachDeleteSoapIn" />
      <wsdl:output message="tns:TeachDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TeachInsert">
      <wsdl:input message="tns:TeachInsertSoapIn" />
      <wsdl:output message="tns:TeachInsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClassRetrieve">
      <wsdl:input message="tns:ClassRetrieveSoapIn" />
      <wsdl:output message="tns:ClassRetrieveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClassDelete">
      <wsdl:input message="tns:ClassDeleteSoapIn" />
      <wsdl:output message="tns:ClassDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClassInsert">
      <wsdl:input message="tns:ClassInsertSoapIn" />
      <wsdl:output message="tns:ClassInsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClassRetrieveName">
      <wsdl:input message="tns:ClassRetrieveNameSoapIn" />
      <wsdl:output message="tns:ClassRetrieveNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClassKidRetrieve">
      <wsdl:input message="tns:ClassKidRetrieveSoapIn" />
      <wsdl:output message="tns:ClassKidRetrieveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TeachGirdRetrieve">
      <wsdl:input message="tns:TeachGirdRetrieveSoapIn" />
      <wsdl:output message="tns:TeachGirdRetrieveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AttendanceRetrieve">
      <wsdl:input message="tns:AttendanceRetrieveSoapIn" />
      <wsdl:output message="tns:AttendanceRetrieveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AttendanceInsert">
      <wsdl:input message="tns:AttendanceInsertSoapIn" />
      <wsdl:output message="tns:AttendanceInsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DropscheduleRetrieve">
      <wsdl:input message="tns:DropscheduleRetrieveSoapIn" />
      <wsdl:output message="tns:DropscheduleRetrieveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DropscheduleDelete">
      <wsdl:input message="tns:DropscheduleDeleteSoapIn" />
      <wsdl:output message="tns:DropscheduleDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DropscheduleInsert">
      <wsdl:input message="tns:DropscheduleInsertSoapIn" />
      <wsdl:output message="tns:DropscheduleInsertSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSSoap" type="tns:WSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="KidRetrieve">
      <soap:operation soapAction="http://tempuri.org/KidRetrieve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KidRetrieveInfo">
      <soap:operation soapAction="http://tempuri.org/KidRetrieveInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KidDelete">
      <soap:operation soapAction="http://tempuri.org/KidDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KidInsert">
      <soap:operation soapAction="http://tempuri.org/KidInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TeachRetrieve">
      <soap:operation soapAction="http://tempuri.org/TeachRetrieve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TeachRetrieveInfo">
      <soap:operation soapAction="http://tempuri.org/TeachRetrieveInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TeachDelete">
      <soap:operation soapAction="http://tempuri.org/TeachDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TeachInsert">
      <soap:operation soapAction="http://tempuri.org/TeachInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClassRetrieve">
      <soap:operation soapAction="http://tempuri.org/ClassRetrieve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClassDelete">
      <soap:operation soapAction="http://tempuri.org/ClassDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClassInsert">
      <soap:operation soapAction="http://tempuri.org/ClassInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClassRetrieveName">
      <soap:operation soapAction="http://tempuri.org/ClassRetrieveName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClassKidRetrieve">
      <soap:operation soapAction="http://tempuri.org/ClassKidRetrieve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TeachGirdRetrieve">
      <soap:operation soapAction="http://tempuri.org/TeachGirdRetrieve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AttendanceRetrieve">
      <soap:operation soapAction="http://tempuri.org/AttendanceRetrieve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AttendanceInsert">
      <soap:operation soapAction="http://tempuri.org/AttendanceInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DropscheduleRetrieve">
      <soap:operation soapAction="http://tempuri.org/DropscheduleRetrieve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DropscheduleDelete">
      <soap:operation soapAction="http://tempuri.org/DropscheduleDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DropscheduleInsert">
      <soap:operation soapAction="http://tempuri.org/DropscheduleInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSSoap12" type="tns:WSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="KidRetrieve">
      <soap12:operation soapAction="http://tempuri.org/KidRetrieve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KidRetrieveInfo">
      <soap12:operation soapAction="http://tempuri.org/KidRetrieveInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KidDelete">
      <soap12:operation soapAction="http://tempuri.org/KidDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KidInsert">
      <soap12:operation soapAction="http://tempuri.org/KidInsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TeachRetrieve">
      <soap12:operation soapAction="http://tempuri.org/TeachRetrieve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TeachRetrieveInfo">
      <soap12:operation soapAction="http://tempuri.org/TeachRetrieveInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TeachDelete">
      <soap12:operation soapAction="http://tempuri.org/TeachDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TeachInsert">
      <soap12:operation soapAction="http://tempuri.org/TeachInsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClassRetrieve">
      <soap12:operation soapAction="http://tempuri.org/ClassRetrieve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClassDelete">
      <soap12:operation soapAction="http://tempuri.org/ClassDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClassInsert">
      <soap12:operation soapAction="http://tempuri.org/ClassInsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClassRetrieveName">
      <soap12:operation soapAction="http://tempuri.org/ClassRetrieveName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClassKidRetrieve">
      <soap12:operation soapAction="http://tempuri.org/ClassKidRetrieve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TeachGirdRetrieve">
      <soap12:operation soapAction="http://tempuri.org/TeachGirdRetrieve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AttendanceRetrieve">
      <soap12:operation soapAction="http://tempuri.org/AttendanceRetrieve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AttendanceInsert">
      <soap12:operation soapAction="http://tempuri.org/AttendanceInsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DropscheduleRetrieve">
      <soap12:operation soapAction="http://tempuri.org/DropscheduleRetrieve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DropscheduleDelete">
      <soap12:operation soapAction="http://tempuri.org/DropscheduleDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DropscheduleInsert">
      <soap12:operation soapAction="http://tempuri.org/DropscheduleInsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS">
    <wsdl:port name="WSSoap" binding="tns:WSSoap">
      <soap:address location="http://localhost:64751/WS.asmx" />
    </wsdl:port>
    <wsdl:port name="WSSoap12" binding="tns:WSSoap12">
      <soap12:address location="http://localhost:64751/WS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>